<!--

事项页面
展示内容： 姓名 好友 热门事项
需要内容：
1、内容
2、好友
3、所有被fork过的时间名称

-->


<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
<title>About</title>
<!--Custom Theme files-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--Custom Theme files-->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link type="text/css" rel="stylesheet" href="css/jquery.mmenu.all.css?v=5.4.4" />
<!--//Custom Theme files-->
<!--web-fonts-->
<!--//web-fonts-->
<!--js-->
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.mmenu.min.all.js?v=5.4.4"></script>
<!-- //js -->
</head>
<body>
		<div class=" mm-wrapper"  id="page">
			<div class="push-menu ">
				<div class="banner">
					<div class="banner-text">
						<div class="menu">
							<a href="#menu"><img src="images/menu-icon.png" alt=""/></a>
							<nav id="menu">
								<ul class="">
									<li class="menu-title">导航</li>
									<li v-on:click = "getreminder()"><a><span class="icons icn3"> </span> 查看任务</a></li>
									<li><a href="addreminder.html"><span class="icons"> </span> 添加提醒</a></li>
									<li v-on:click = "gethotreminder()"><a href="#"><span class="icons icn2"> </span> 热门事件</a></li>
									<li v-on:click = "getprofile()"><a href="#"><span class="icons icn4"> </span> 个人资料</a></li>
									<li v-on:click = "signout()"><a><span class="icons icn5"> </span> 登出</a></li>
								</ul>
							</nav>
								<script type="text/javascript">
									$(function() {
										$("#menu")
											.mmenu({
								extensions 	: [ "theme-dark", "effect-listitems-slide" ],
								iconPanels	: {
									add 		: true,
									visible		: 1
								},
								navbar		: {
									add 		: false
								},
								counters	: true
											}).on( 'click',
												'a[href^="#/"]',
												function() {
													alert( "Thank you for clicking, but that's a demo link." );
													return false;
												}
											);
									});
								</script>
						</div>
					</div>
				</div>


				<div class="work-text">
                    <h3>项目名称   <label><input name="title" type="text" v-model="title"/></label></h3>
                    <h3>截止时间   <label><input name="EndTime" type="date" value="2018-01-01"/></label></h3>
                    <h3>开放模式   <label><input name="open" type="radio" value="pri"/>私密</label> <label><input name="open" type="radio" value="pub"/>公开</label></h3>
                    <h3>合作模式   <label><input name="cop" type="radio" value="one" onclick="clearlist()"/>单人</label>
                        <label><input name="cop" type="radio" value="more" onclick="showlist()">多人</label>
                        <div id="frilist"> </div>
                    </h3>

					<h3>子事项 <button onclick="add()">+</button> <button onclick="del()">-</button></h3>
                        <div id="org">
                        </div>
                    <script type="text/javascript">
                        function add(){
                            var brt = document.createElement('br');
                            var input1 = document.createElement('input');
                            input1.setAttribute('type', 'text');
                            input1.setAttribute('name', 'organizers[]');
                            input1.setAttribute('style', "width:200px;height:20px");
                            console.log(input1);
                            var btn1 = document.getElementById("org");
                            btn1.insertBefore(brt,null);
                            btn1.insertBefore(input1,null);
                        }
                        function del(){
                            var btn1 = document.getElementById("org");
                            console.log(btn1);
                            btn1.removeChild(btn1.childNodes[btn1.childNodes.length - 1]);
                            btn1.removeChild(btn1.childNodes[btn1.childNodes.length - 1]);
                        }
                    </script>

                    <br>
                    <button v-on:click="yes()"> 确定 </button>
                    <button v-on:click="no()"> 取消 </button>
					<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
				</div>
			</div>
		</div>
</body>

<script src = "https://cdn.bootcss.com/vue/2.2.2/vue.min.js"> </script>
<script>

    var eventID = -1;
    var storage = window.localStorage;
    friendnum = 0;
    frilist = ['aaa', 'bbb', 'ccc'];

    function clearlist(){
        document.getElementById('frilist').innerHTML = "";
    }

    function showlist(){
        var temp = document.getElementById('frilist');
        console.log(temp);
        temp.innerHTML = "";
        console.log(frilist, frilist.length);
        for (var i=0; i<frilist.length; i++) {
            console.log(i, frilist[i]);
            var input1 = document.createElement('input');
            input1.setAttribute('type', 'checkbox');
            input1.setAttribute('name', 'friendlist');
            input1.setAttribute('value', frilist[i]);
            temp.insertBefore(input1,null);
            var textnode=document.createTextNode(frilist[i]);
            temp.insertBefore(textnode,null);
            textnode = document.createElement('br');
            temp.insertBefore(textnode,null);
        }
    }
	var pageData = {
        title : storage["reminderid"],
        username : storage["username"]
    };
	if (storage.getItem("eventID") == null) {
        var brt = document.createElement('br');
        var input1 = document.createElement('input');
		input1.setAttribute('type', 'text');
		input1.setAttribute('name', 'organizers[]');
		input1.setAttribute('style', "width:200px;height:20px");
        var btn1 = document.getElementById("org");
        btn1.insertBefore(brt,null);
        btn1.insertBefore(input1,null);
		btn1.insertBefore(input1,null);
	}
	else {
        eventID = storage["eventID"];
		console.log(eventID);
        $.post("http://10.131.235.79:7900/querySingleEvent/", {"eventID":eventID},
            function(ret){
                $.each(ret, function(i, field){
                    if (i == "errCode") {
                        console.log(i, ' ' , field);
                    }
                    if (i == "events") {
                        console.log(i, field);
                        $.each(field, function (k, fkeld) {
                            $.each(fkeld, function(j, fjeld){
                                console.log(j, fjeld);
                                if (j == "title")
                                    document.getElementsByName("title")[0].value = fjeld;
                                if (j == "subEvent") {
                                    for (var i=0; i<fjeld.length; i++) {
                                        var brt = document.createElement('br');
                                        var input1 = document.createElement('input');
                                        input1.setAttribute('type', 'text');
                                        input1.setAttribute('name', 'organizers[]');
                                        input1.setAttribute('style', "width:200px;height:20px");
                                        input1.setAttribute('value', fjeld[i][0]);
                                        var btn1 = document.getElementById("org");
                                        btn1.insertBefore(brt,null);
                                        btn1.insertBefore(input1,null);
                                    }
                                }
                            })
                        });
                    }
                });
            }
        );


	}


	var action = {
        getreminder: function() {

			window.location.href = "reminder.html";
		},

		gethotreminder: function() {
			window.location.href = "hotreminder.html";
		},

		getprofile: function() {
			window.location.href = "profile.html";
		},

		signout: function() {
			window.localStorage.clear();
            window.location.href = "signin.html";
        },

        add: function() {
        },

        sub: function() {
        },

        yes: function() {
            var title = document.getElementsByName("title")[0].value;
            var userID = [pageData.username];
            var EndTime = document.getElementsByName("EndTime")[0].value;
            var Share = 0;
            var subEvents = [];
            var tempopen = document.getElementsByName("open");
            for (var i=0; i<tempopen.length; i++)
                if (tempopen[i].checked == true) {
                    if (tempopen[i].value == "pub")
                        Share = 1;
                    else
                        Share = 0;
                }
            tempopen = document.getElementsByName("cop");
            for (var i=0; i<tempopen.length; i++)
                if (tempopen[i].checked == true && tempopen[i].value == "more"){
                    var fril = document.getElementsByName("friendlist");
                    for (var j = 0; j < fril.length; j++){
                        console.log(fril[j].checked, fril[j].value);
                        if (fril[j].checked == true)
                            userID.push(fril[j].value);
                    }
                }
            tempopen = document.getElementsByName("organizers[]");
            for (var i = 0; i < tempopen.length; i++){
//                console.log(tempopen[i].value);
                subEvents.push(tempopen[i].value);
            }
            $.post("http://10.131.235.79:7900/createEvent/", {
                        "Title":title, "UserID":JSON.stringify(userID), "EndTime":EndTime, "Share":Share, "subEvents":JSON.stringify(subEvents)
                    },
                function(ret){
                    $.each(ret, function(i, field){
                        if (i == "errCode") {
                            console.log(i, ' ', field);
                            if (field == 0) {
                                storage.removeItem("item");
                                if (eventID != -1){
                                    $.post("http://10.131.235.79:7900/addForkedTime/", {"eventID" : eventID},
                                        function(){
                                            console.log("done");
                                        });
                                }
                                window.location.href = "profile.html";
                            }
                            else{
                                window.alert("添加事件失败");
                            }
                        }
                    });
                }
            );
        },

        no: function() {
            storage.removeItem("item");
			window.location.href = "profile.html";
        }
    };

    new Vue ({
        el: '#page',
        data : pageData,
		methods: action
    });

    $(document).ready(function() {
        $.post("http://10.131.235.79:7900/queryFriends/", {
                "userID": pageData.username
            },
            function (ret) {
                $.each(ret, function (i, field) {
                    if (i == "errCode") {
                        console.log(i, ' ', field);
                    }
                    if (i == "friends") {
                        frilist = [];
                        $.each(field, function (j, fjeld) {
                            console.log(j, ' ', fjeld);
                            $.each(fjeld, function (k, fkeld) {
                                if (k == "uBID") {
                                    friendnum = frilist.push(fkeld);
                                }
                            });
                        });
                    }
                });
            }
        );
    });
</script>

</html>
