<!--

事项页面
展示内容： 姓名 好友 热门事项
需要内容：
1、内容
2、好友
3、所有被fork过的时间名称

-->


<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
<title>About</title>
<!--Custom Theme files-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--Custom Theme files-->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link type="text/css" rel="stylesheet" href="css/jquery.mmenu.all.css?v=5.4.4" />
<!--//Custom Theme files-->
<!--web-fonts-->
<!--//web-fonts-->
<!--js-->
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.mmenu.min.all.js?v=5.4.4"></script>
<!-- //js -->
</head>
<body>
		<div class=" mm-wrapper"  id="page">
			<div class="push-menu ">
				<div class="banner">
					<div class="banner-text">
						<div class="menu">
							<a href="#menu"><img src="images/menu-icon.png" alt=""/></a>
							<nav id="menu">
								<ul class="">
									<li class="menu-title">导航</li>
									<li v-on:click = "getreminder()"><a><span class="icons icn3"> </span> 查看任务</a></li>
									<li><a href="addreminder.html"><span class="icons"> </span> 添加提醒</a></li>
									<li v-on:click = "gethotreminder()"><a href="#"><span class="icons icn2"> </span> 热门事件</a></li>
									<li v-on:click = "getprofile()"><a href="#"><span class="icons icn4"> </span> 个人资料</a></li>
									<li v-on:click = "signout()"><a><span class="icons icn5"> </span> 登出</a></li>
								</ul>
							</nav>
								<script type="text/javascript">
									$(function() {
										$("#menu")
											.mmenu({
								extensions 	: [ "theme-dark", "effect-listitems-slide" ],
								iconPanels	: {
									add 		: true,
									visible		: 1
								},
								navbar		: {
									add 		: false
								},
								counters	: true
											}).on( 'click',
												'a[href^="#/"]',
												function() {
													alert( "Thank you for clicking, but that's a demo link." );
													return false;
												}
											);
									});
								</script>
							<!-- /script-for-menu -->
						</div>
					</div>
				</div>
				<div class="clear"> </div>
				<div class="banner-bottom">
					<div class="banner-bottom-all">
						<h1> {{ title }}</h1>
                        <p> Fork Number : {{ forknum }} </p>
						<div v-if="authority && !fin" v-on:click="finish()"><button> Finish </button></div>
						<div v-else-if="authority && fin" v-on:click="restart()"><button> Restart </button></div>
						<div v-else v-on:click="fork()"><button> Fork </button></div>
					</div>
					<div class="clear"> </div>
				</div>
				<div class="work-text">
                    <h3>项目概况</h3>
    				<section class="ac-container">
                        <label class="grid4"><i></i> 创立者 {{ managername }}</label>
                        <label class="grid4"><i></i> 截止时间 {{ deadlinetime }}</label>
                        <div v-if="show == 'public'"> <label class="grid4"><i></i> 公开 </label></div>
                        <div v-else> <label class="grid4"><i></i> 私密 </label></div>

                    <div v-if="people == 1"> <label class="grid4"><i></i> 单人 </label></div>
                    <div v-else> <label class="grid4"><i></i> 合作 </label></div>

                    </section>
                    <div v-if="itemnum >= 1">
					<h3>子事项</h3>
					<section class="ac-container">
						<div v-for="item in item">
							<label style="color:red" v-show = "!item[2]" v-on:click="finishitem(item)" class="grid2"><i></i>{{ item[0] }}</label>
							<label style="color:green" v-show = "item[2]" v-on:click="finishitem(item)" class="grid2"><i></i>{{ item[0] }}</label>
						</div>
                    </section>
                    </div>

                    <div v-if="people >= 1">
                        <h3>参与者</h3>
    					<section class="ac-container">
    						<div v-for="item in teammate">
    							<label v-on:click="itemdetail(item)" class="grid3"><i></i>{{ item }}</label>
    						</div>
                        </section>
                    </div>
					<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

				</div>
			</div>
		</div>
</body>

<script src = "https://cdn.bootcss.com/vue/2.2.2/vue.min.js"> </script>
<script>

// 查询storage["reminderid"]的相关信息

    var storage = window.localStorage;
    var pageData;
    pageData = {
        authority : 0,
        eventID : 0,
        username: "luoqiyao",
        title: "test-work",
        managername: "luoqiyao",
        forknum: 10,
        fin: 0,
        deadlinetime: "2018-1-1",
        itemnum : 2,
        item: [["read a book"], ["have a lunch"]],
        teammate: ['aaa', 'bbb', 'ccc'],
        show: 'private',
        people: 3
    };
	var action = {
		getreminder: function() {
			window.location.href = "reminder.html";
		},

		gethotreminder: function() {
			window.location.href = "hotreminder.html";
		},

		getprofile: function() {
			window.location.href = "profile.html";
		},

		signout: function() {
			window.localStorage.clear();
            window.location.href = "signin.html";
        },

        fork: function() {
			console.log(pageData.eventID);
			storage["eventID"] = eventID;
			window.location.href = "addreminder.html";
        },

		finish: function() {
			var checked = window.confirm("finish?");
			if (checked == true){
                $.post("http://10.131.235.79:7900/finEvent/", {"eventID":pageData.eventID, "fin" : 1},
                    function(ret){
                        $.each(ret, function(i, field){
                            if (i == "errCode") {
                                console.log(i, ' ' , field);
                            }
                        });
                        window.location.href = "reminder.html";
                    }
                );
            }
		},

		restart: function() {
			var checked = window.confirm("restart?");
			if (checked == true){
                $.post("http://10.131.235.79:7900/finEvent/", {"eventID":pageData.eventID, "fin" : 0},
                    function(ret){
                        $.each(ret, function(i, field){
                            if (i == "errCode") {
                                console.log(i, ' ' , field);
                            }
                        });
                        window.location.href = "reminder.html";
                    }
                );
            }
		},

		finishitem: function( item ) {
		    subEventID = item;
            if (pageData.authority){
                $.post("http://10.131.235.79:7900/finSubEvent/", {"subEventID":item[1], "fin" : item[2] ^ 1},
                    function(ret){
                        $.each(ret, function(i, field){
                            if (i == "errCode") {
                                console.log(i, ' ' , field);
                            }
                        });
                        window.location.href = "showreminder.html";
                    }
                );
            }
		},			//重新发送消息，更新这个item
			//然后重新载入这个页面

		itemdetail: function( item ) {
		    //合作伙伴,跳转到好友界面
            storage["friendid"] = item;
            window.location.href = "friend.html";
		}
    };

    new Vue ({
        el: '#page',
        data : pageData,
		methods: action
    });


    $(document).ready(function() {
        pageData.username = storage["username"];
        eventID = JSON.parse(storage["eventID"]);
        $.post("http://10.131.235.79:7900/querySingleEvent/", {"eventID":eventID},
            function(ret){
                $.each(ret, function(i, field){
                    if (i == "errCode") {
                        console.log(i, ' ' , field);
                    }
                    if (i == "events") {
                        console.log(i, field);
                        $.each(field, function (k, fkeld) {
                            $.each(fkeld, function(j, fjeld){
                                console.log(j, fjeld);
                                if (j == "title")
                                    pageData.title = fjeld;
                                if (j == "userID") {
                                    pageData.people = fjeld.length;
                                    pageData.managername = fjeld[0];
                                    pageData.teammate = fjeld;
                                }
                                if (j == "eventID")
                                    pageData.eventID = fjeld;
                                if (j == "endTime")
                                    pageData.deadlinetime = fjeld;
                                if (j == "forked")
                                    pageData.forknum = fjeld;
                                if (j == "subEvent") {
                                    pageData.item = fjeld;
                                    pageData.itemnum = pageData.item.length;
                                }
                                if (j == "permission") {
                                    if (fjeld == 1) pageData.show = "public";
                                    else pageData.show = "private";
                                }
                                if (j == "fork")
                                    pageData.forknum = fjeld;
                                if (j == "fin")
                                    pageData.fin = fjeld;
                            })
                        });
                    }
                });
                pageData.authority = 0;
                for (var i = 0; i < pageData.teammate.length; i++)
                    if (pageData.teammate[i] == pageData.username)
                        pageData.authority = 1;
                if (pageData.managername == pageData.username)
                    pageData.authority = 1;
            }
        );
    });
</script>

</html>
