<!--

事项页面
展示内容： 姓名 好友 热门事项
需要内容：
1、内容
2、好友
3、所有被fork过的时间名称

-->


<!DOCTYPE html>
<html>
<head>
<title>About</title>
<!--Custom Theme files-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--Custom Theme files-->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link type="text/css" rel="stylesheet" href="css/jquery.mmenu.all.css?v=5.4.4" />
<!--//Custom Theme files-->
<!--web-fonts-->
<!--//web-fonts-->
<!--js-->
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.mmenu.min.all.js?v=5.4.4"></script>
<!-- //js -->
</head>
<body>
		<div class=" mm-wrapper"  id="page">
			<div class="push-menu ">
				<div class="banner">
					<div class="banner-text">
						<div class="menu">
							<a href="#menu"><img src="images/menu-icon.png" alt=""/></a>
							<nav id="menu">
								<ul class="">
									<li class="menu-title">导航</li>
									<li v-on:click = "getreminder()"><a><span class="icons icn3"> </span> 查看任务</a></li>
									<li><a href="addreminder.html"><span class="icons"> </span> 添加提醒</a></li>
									<li v-on:click = "gethotreminder()"><a href="#"><span class="icons icn2"> </span> 热门事件</a></li>
									<li v-on:click = "getprofile()"><a href="#"><span class="icons icn4"> </span> 个人资料</a></li>
									<li v-on:click = "signout()"><a><span class="icons icn5"> </span> 登出</a></li>
								</ul>
							</nav>
								<script type="text/javascript">
									$(function() {
										$("#menu")
											.mmenu({
								extensions 	: [ "theme-dark", "effect-listitems-slide" ],
								iconPanels	: {
									add 		: true,
									visible		: 1
								},
								navbar		: {
									add 		: false
								},
								counters	: true
											}).on( 'click',
												'a[href^="#/"]',
												function() {
													alert( "Thank you for clicking, but that's a demo link." );
													return false;
												}
											);
									});
								</script>
							<!-- /script-for-menu -->
						</div>
					</div>
				</div>
				<div class="clear"> </div>
				<div class="banner-bottom">
					<div class="banner-bottom-all">
						<h1> {{ title }}</h1>
                        <p> Fork Number : {{ forknum }} </p>
						<div v-on:click="fork()"><button> Fork </button></div>
					</div>
					<div class="clear"> </div>
				</div>
				<div class="work-text">
                    <h3>项目概况</h3>
    				<section class="ac-container">
                        <label class="grid4"><i></i> 创立者 {{ managername }}</label>
                        <label class="grid4"><i></i> 截止时间 {{ deadlinetime }}</label>
                        <div v-if="show == 'public'"> <label class="grid4"><i></i> 公开 </label></div>
                        <div v-else> <label class="grid4"><i></i> 私密 </label></div>

                    <div v-if="people == 1"> <label class="grid4"><i></i> 单人 </label></div>
                    <div v-else> <label class="grid4"><i></i> 合作 </label></div>

					<h3>子事项</h3>
					<section class="ac-container">
						<div v-for="item in item">
							<label v-on:click="itemdetail(item)" class="grid2"><i></i>{{ item[0] }} {{item[1]}}</label>
						</div>

                    <div v-if="people > 1">
                        <h3>合作队友</h3>
    					<section class="ac-container">
    						<div v-for="item in teammate">
    							<label v-on:click="itemdetail(item)" class="grid3"><i></i>{{ item }}</label>
    						</div>
                    </div>
					<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

				</div>
			</div>
		</div>
</body>

<script src = "https://cdn.bootcss.com/vue/2.2.2/vue.min.js"> </script>
<script>

// 查询storage["reminderid"]的相关信息

    var storage = window.localStorage;
	var pageData = {
		title : storage["reminderid"],
        managername : "test007",
		totalnum : 11,
		forknum : 10,
        deadlinetime : "2018-1-1",
        item : [["read a book"], ["have a lunch"]],
        teammate : ['aaa', 'bbb', 'ccc'],
        show : 'private',
        people : 3
	}
	var action = {
		getreminder: function() {
			window.location.href = "reminder.html";
		},

		gethotreminder: function() {
			window.location.href = "hotreminder.html";
		},

		getprofile: function() {
			window.location.href = "profile.html";
		},

		signout: function() {
			window.localStorage.clear();
            window.location.href = "signin.html";
        },

        fork: function() {
			var string = ""
			for (var i=0; i<pageData.item.length; i++) {
				string += pageData.item[i];
				string += "^";
			}
			console.log(string);
			storage.setItem("item", string);
			window.location.href = "addreminder.html";
        },

		itemdetail: function( item ) {
			window.alert(item);
		}
    }

    new Vue ({
        el: '#page',
        data : pageData,
		methods: action
    })

</script>

</html>
